
a{
    background-color: hotpink;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
    border-radius: 5px;
    
}

a:hover
{
    background-color: blue;
}

a:link
{
    color: white;
}

a:visited
{
    color: green;
}

a:active
{
    color: red;
    background-color: yellow;
}