.box1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/13703327/pexels-photo-13703327.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: fixed;
}
.box2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/18925513/pexels-photo-18925513/free-photo-of-a-lighthouse-sits-on-a-rocky-shore-at-night.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: fixed;
}

.textStyle {
  color: #0000ff;
  font-size: 10vw;
}
.textStyle2 {
  color: #ff0000;
  font-size: 10vw;
}
