* {
  margin: 0px;
  padding: 0px;
}

body {
  padding-top: 50px;
  background-color: aquamarine;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.main-div {
  background-color: red;
  height: 500px;
  width: 700px;
  position: relative;
}

.box1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  background-color: yellow;
  position: absolute;
  left: 0;
}
.box2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  background-color: green;
  position: absolute;
  right: 0;
}
.box3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  background-color: teal;
  position: absolute;
  bottom: 0;
}
.box4 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  background-color: darkblue;
  position: absolute;
  bottom: 0;
  right: 0;
}
.box5 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  background-color: darkmagenta;
  position: absolute;
  left: 300px;
  top: 200px;
  /* left: 50%;  <-- is Tarike Se Bhi Kiya Ja Sakta Hai
    top: 50%;
    transform: translate(-50%,-50%); */
}

h5 {
  color: white;
}
