
*
{
    margin: 0px;
    padding: 0px;
}




/**  Propertys uss*/
body
{
    background-color:yellow;
    
}


/* @media screen and (max-width:750px){
    body
    {
        background-color: teal;
    }
    .main
    {
        background-color: blue;
    }
} */




@media screen and (min-width:750px) and (max-width:1000px){
    body
    {
        background-color: teal;
    }
    
    .parent
    {
        background-color: purple;
    }
}












.parent
{
    height: 500px;
    width: 100%;
    background-color: hotpink;
    display: flex;                         /** <-- display: flex by default ROW Hota Hai*/   
    /* flex-direction:row-reverse; */
    /* flex-direction:column-reverse */
    /* flex-direction:column; */
    /*flex-wrap:wrap;*/                       /** <-- by default value:- nowrap*/



    /* justify-content:space-around; */
    justify-content: center;              /** <--horizontal center*/       
    align-items:center;                  /** <--vertical center*/

}



.box
{
    width: 100px;
    height:50px ;
    padding: 20px;
    margin: 10px;
    background-color: teal;
}





