*
{
    margin: 0px;            /** <-- by default margin & padding remove*/
    padding: 0px;
}





/** Animation Propertys uss*/
.Box
{
    height: 100px;
    width: 100px;
    background-color: red;
    position: relative;
    animation-name:demoAnimation;
    animation-duration: 17s;
    animation-iteration-count: infinite;
    animation-delay: 2s;

   /* animation:demoAnimation 17s 2s infinite; */   /** <-- Single Ling All property add */

    
}


/*TODO Create Animation */
@keyframes demoAnimation{
    /* from
    {
      background-color: plum;
    }
    to
    {
        background-color:yellow;
    } */


    0%
    {
        background-color: red;
        top: 0px;
        left: 0px;
    }
    25%
    {
        background-color: yellow;
        top: 0px;
        left: 300px;
    }
    50%
    {
        background-color: teal;
        top: 300px;
        left: 300px;
    }
    75%
    {
        background-color: blue;
         left: 0px;
         top: 300px;

    }
    100%
    {
        background-color: orange;
         left: 0px;
         top: 0px;
    }
    
}

