
table
{
    border-collapse: collapse;
    width: 50%;
    margin: auto;
    box-shadow: 5px 5px 10px royalblue;
}
th,td
{
    border-bottom: 1px solid black;
    padding: 10px;
    text-align: left;
}



th
{
    background-color: red;
    color: white;
}


tr:hover
{
    background-color: darkgreen;
    color: white;
    cursor: pointer;
    transition: 1s;
}


tr:nth-child(even)
{
    background-color: #888;
}